.Chart_container {
    grid-area: Chart;
    width: 100%;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0px 2px 4px -2px #1018280F, 0px 4px 8px -2px #1018281A;
}

.Chart_container .chart-title {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    margin-left: .5rem;
}

/*________ Custom Tooltip Styles ____________________ */
.custom-tooltip_content {
    border-radius: .5rem;
    padding: .5rem;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
    color: var(--brand-700);
    background-color: var(--brand-100);
    box-shadow: 0px 1px 2px 0px #1018280F, 0px 1px 3px 0px #1018281A;
}

.custom-tooltip-label {
    display: block;
    margin-bottom: .75rem;
}

.custom-tooltip-item {
    display: flex;
    align-items: center;
    gap: .5rem;
    line-height: 1.5rem;
}

.custom-tooltip-item .icon {
    display: block;
    width: .8rem;
    height: .8rem;
    border-radius: 20px;
}