.Emails-list_content{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0 .25rem .75rem .25rem;
    margin-top: .5rem;
    height: auto;
    max-height: 20.5rem;
    overflow-y: auto;
    scrollbar-width: none;
}
.Emails-list_content::-webkit-scrollbar{
    width: 0;
}