.main_container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr 1fr;
    gap: 16px 32px;
    grid-auto-flow: row;
    grid-template-areas:
        "card-content sidemenu"
        "chart-content sidemenu"
        "email-content sidemenu";
    height: 100%;
    width: 100%;
    margin-bottom: 5rem;

}

.main-header {
    margin-block: 1rem 2rem;
}

.main-sidemenu-area {
    grid-area: sidemenu;
    width: 18rem;
}

.main-cards-area {
    grid-area: card-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.main-emails-area {
    grid-area: email-content;
    margin-top: .5rem;
}

.chart-area_container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    grid-auto-flow: row;
    grid-template-areas:
        "card Chart"
        "card Chart";
}

.Chart-content {
    grid-area: Chart;
    width: 100%;
    min-height: 15rem;
}