.card_container {
    width: 100%;
    min-width: 12.5rem;
    border-radius: 1.5rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0px 2px 4px -2px #1018281A, 0px 4px 8px -2px #1018281A;
    border: 2px solid transparent;
    transition: .3s ease-out;
}

.card_container:hover {
    border-color: var(--brand-500);
    box-shadow: 0px 8px 8px -4px #6941C60D, 0px 20px 24px -4px #6941C61A;
}

.card-title {
    font-weight: 600;
    font-size: .875rem;
    color: var(--gray-600);
}

.card_container .card-icon {
    color: var(--gray-900);
}