.main-sidemenu_container {

    margin-top: 4rem;

    max-width: 18rem;
    height: 100%;
    padding: 1.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--white);
    box-shadow: 0px 1px 2px 0px #1018280F, 0px 1px 3px 0px #1018281A;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sidemenu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidemenu-header span {
    cursor: pointer;
}

.header-profile-img {
    width: 2.65rem;
    height: 2.65rem;
    border-radius: 50%;
    overflow: hidden;
}

.formation_container {
    padding: 1.5rem;
    border-radius: 1.5rem;
    color: var(--gray-900);
    background-color: var(--white);
    border: 1px solid var(--gray-200);
    box-shadow: 0px 4px 4px 0px #0000000F;

}

.formation-headr {
    margin-bottom: 1rem;
}

.formation-headr span {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.formation-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.formation-progressBar {
    /*__ The " --progress-value " is defined linearly in the progress <div> element */
    position: relative;
    width: 100%;
    height: 1.25rem;
    border-radius: 1rem;
    background-color: var(--gray-300);
}

.formation-progressBar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 1rem;
    width: var(--progress-value);
    background-color: var(--brand-700);
    transition: .3s;
}

.formation-estimate {}

.estimate-title {
    display: block;
    font-weight: 700;
    margin-bottom: .5rem;
}

.estimate-value {
    font-weight: 600;
    color: var(--gray-500);
}


.todoList_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-grow: 1;
    kbackground-color: crimson;
}