.App_container {
    height: 100dvh;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
}

.App_Main {
    padding-inline: .5rem;
    margin-block: 1rem;
    overflow-y: auto;
    max-width: 78rem;
    overflow-x: hidden;
    scrollbar-width: none;
}

.App_Main::-webkit-scrollbar {
    width: 0;
}

@media screen and (min-width: 1444px) {
    .App_Main {
        max-width: 83rem;
    }
}

/*_______________*/
.PAGE_404,
.PAGE_UnAvailable {
    place-self: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: var(--gray-900);
}

.PAGE_404 {
    font-size: 3rem;
    color: var(--brand-500);
}